<div class="row">
    <div class="col-sm-12">
        
        <button class="btn btn-raised btn-danger" ng-click="itemsCtrl.open()"><i class="fa fa-plus" aria-hidden="true"></i> New</button>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Wyszukaj</h3>
            </div>
            <div class="panel-body">
                <input type="text" name="search" id="inputSearch" class="form-control" value="" required="required" placeholder="znajdz">
            </div>
        </div>
        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Head</th>
                    <th>Client</th>
                    <th>Description</th>
                    <!-- <th>Price</th> -->
                    <th>Termin</th>
                    <th>Closed</th>
                    <th>Status</th>
                    
                    <th >Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in itemsCtrl.data">
                    <td>{{::item.id}}</td>
                    <td>{{::item.dateCreate}}</td>
                    <td>{{::item.prowadzacy}}</td>
                    <td>{{::item.client.name}}<br /><a class="small" href >{{::item.client.conact.name}}</a></td>
                    <td><a href>{{::item.category}}</a><br /><span class="small">{{::item.title}}</span></td>
                    <!-- <td>{{::item.price}}</td> -->
                    <td>{{::item.termin}}</td>
                    <td>{{::item.dateClosed}}</td>
                    <td class="item_status ">
<span class="label {{item.status}}">{{::item.statusText}}</span>
</td>
                    
                    <td><div style="max-width:100px;" class="btn-group  btn-group-justified  ">
                        <a href="javascript:void(0)"  ><i class="material-icons">note_add</i></a></a>
                        <a href="javascript:void(0)"  ><i class="material-icons">mode_edit</i></a>
                        <a href="javascript:void(0)" ><i class="material-icons">delete</i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>